@import 'variables';
/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.bxs{box-shadow: 0 4px 8px 0 rgba(108,127,135,.1), 0 1px 4px 0 rgba(108,127,135,.36);}
.fw{
    width: 95%;
    @media only screen and (min-width: 600px) {
        width: 1100px;
    }
}
.h100{height: 100%;}
.mb-20{margin-bottom: 20px;}
.shead{
    padding: 80px 0;
}
.as{align-items: flex-start!important;}
.fs{justify-content: flex-start!important;}
.fe{justify-content: flex-end!important;}
.sb{justify-content: space-between!important;}

//Text styling
.br{word-break: break-all;}

.overlay{
    position: absolute; top:0;left:0;
    width: 100%; height: 100%;
}

// Borderes
.bb-2-o{
    border-bottom: 2px solid #ff9933;
}
/* Colors */
.f-gray{color: #666666!important;}
.f-red{color: #f7274a!important;}
.f-blue{color: #509bf5!important;}
.f-white{color: #fffff6!important;}
.f-orange{color: #ff9933!important;}
.bg-orange{background: #ff9933!important;}
.f-green{color: #189e0c!important;}
.f-yellow{color: #ffdb4d!important;}
.bg-green{background: #189e0c!important;}
.bg-red{background: #f7274a!important;}
.bgWhite{background: #fffff6!important;}
.bgGray{background: #5f5f5f!important;}
.bg-lgray{background: #f7f7f7!important;}
.bg-blue{background: #509bf5!important;}
.bg-lblue{background: #b8e0f5!important;}
.bg-cream{background: #feefc3!important;}
.f-cream{color: #feefc3!important;}
.bg-lcream{background: #fff8e6;}
.bg-white{background: #fff;}


.bluegrad{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#557599+0,509bf5+100 */
    background: rgb(85,117,153); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(85,117,153,1) 0%, rgba(80,155,245,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(85,117,153,1) 0%,rgba(80,155,245,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(85,117,153,1) 0%,rgba(80,155,245,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#557599', endColorstr='#509bf5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
// Font awesome

// Buttons
.btnBlue{
    font-family: roboto, sans-serif!important;
    border: 3px solid #509bf5;
    color: #4a4a4a;
    font-weight: bold;
    transition: .2s ease-in-out;
    padding: 10px 40px;
    border-radius: 50px;
    &:hover{
        background: #509bf5;
        color: white;
    }
}
//Lists
.box-list{
    justify-content: space-between;
    li{
        margin: 5px 0;
        width: calc(100%);
        padding: 20px;
        color: #666;
        background: #f7f7f7;
        img{
            width: 80px;
        }
        h3{width: 100%; text-align: center; margin: 20px 0; font-weight: 400;}

        p{text-align: center; margin-top: 20px;}
    }
    @media only screen and (min-width: 600px) {
        li{
            min-height: 300px;
            margin-bottom: 10px;
            margin-top: 0px;
            width: calc(33% - 42.5px);
            .img-container{
                padding: 20px;
                border-radius: 100px;
                width: 100px;
                height: 100px;
                margin-bottom: 5px;
                img{
                    width: 80%;
                }
            }
            p{margin-top: 0;}
        }
    }
}
//sections
.section-h{
    text-transform: uppercase;
    width: 100%; text-align: left;
    border-bottom: 2px solid $main;
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #666666;
}
.cta-r, .cta-b, .cta-g, .cta-o{
    position: relative;
    padding: 20px 70px;
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 20px;
    transition: .2s ease-in-out;

    i{margin-right: 10px;}
}
.cta-r{
    background-color: rgb(247, 39, 74);
    box-shadow: 0 10px 20px rgba(247, 39, 74, .35);
    &:hover{background-color: #dd082c;}
}
.cta-b{
    background: #509bf5;
    box-shadow: 0 10px 20px rgba(80, 155, 245, 0.35);
    &:hover{background: #0e74f1;}
}
.cta-g{
    background: #189e0c;
    // box-shadow: 0 10px 20px rgba(18, 136, 7, 0.35);
    &:hover{background: #0d6105;}
}
.cta-o{
    background: #ff9933;
    // box-shadow: 0 10px 20px rgba(18, 136, 7, 0.35);
    &:hover{background: #e67300;}
}
.hi{
    position: relative;
    top: -4px;
    width: 25px;
    margin-right: 10px;
}
