
// Colors
$main: #ff9933;
$mainDark: #e67300;
// $off: #189e0c;
$off: #8c1aff;
$purple: #a64dff;
$lpurple: #f2e6ff;
$slpurple: #F8F2FF;
$purpleHover: #7300e6;
$slpurple: #FBF8FF;
$offDark: #0e5f07;
$font: #333;
$white: #ffffff;
$black: #000;
$lgray: #f7f7f7;
$slgray: #FAFAFA;
$lblue: #F3F8FE;
$slblue: #F9FBFE;
$a: #509bf5;
$aHover: #0d69d9;
$e6: #e6e6e6;
$cream: #FFE6B6;
$lcream: #FFF7D9;
$slcream: #FFFDF5;
// Padding & Margin
$section: 80px 0;

// Box shadow
// $bxs: 0 4px 8px 0 rgba(108,127,135,.2), 0 1px 4px 0 rgba(108,127,135,.2);
$bxs: 0 4px 20px 0 rgba(0,0,0,.12);
// Sizing
$desktop: 1100px;
$mobile: 100%;
