.faq{
    padding: 80px 0;
    .active{background: $off!important;}
    h2{
        width: 100%;
        text-align: left;
        font-weight: 500;
    }
    hr{
        height: 2px;
        background: $a;
        width: 150px;
        margin-right: calc(100% - 150px);
        margin-bottom: 20px;
        border: none;
    }
    .faq-inner{
        cursor: pointer;
        width: calc(100%);
        margin-bottom: 10px;
        font-weight: bold;
        box-shadow: $bxs;
    }
    .faq-inner__question{
        justify-content: flex-start;
        width: 100%;
        position: relative;
        padding: 20px;
        z-index: 2;
        background: $slblue;
        .p{
            margin-right: 20px;
            width: calc(100% - 30px);
        }
        h4{
            font-family: 'Roboto', sans-serif!important;
            padding-right: 30px;
            width: calc(100% - 30px);
        }
        i{
            position: absolute;
            right: 20px;
            color: $a;            
        }
    }
    .faq-inner__answer{
        z-index: 1;
        background: $lblue;
        width: 100%;
        display: flex;
        border-top: 2px solid $a;
        p{
            font-family: 'Roboto', sans-serif!important;
            line-height: 1.5em;
            font-weight: 500;
            padding: 20px;
            flex: 1;
        }
    }
}
