ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
li{
    list-style-type: none;
}
.container__inner-content{
    li{
        width: 100%;
        margin: 2.5px 0;
    }
}

.rows-1__links-3{
    width: 100%;
    justify-content: flex-start;
    li{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        transition: .15s ease-in-out;
        margin-bottom: 10px;
        box-shadow: $bxs;
        // border-radius: 5px;
        overflow: hidden;
        border: 1px solid #e6e6e6;
        width: 100%;
        &:nth-child(3n+2){
            @media screen and (min-width: 600px){
                margin: 0 30px;
            }
        }
        &:hover{
            transform: translateY(2px);
            box-shadow: none;
        }
        @media screen and (min-width: 600px){
            flex: 1;
            margin-bottom: 0px;
            max-width: 280px;
        }
        .content-img{
            position: relative;
            display: flex;
            justify-content: center;align-items: center;
            background-size: 100% 100%!important;
            width: 140px;
            height: 100px;
            background: #fff;
            @media screen and (min-width: 600px){
                width: 100%;
                height: 160px;
            }
        }
        .content{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            width: calc(100% - 160px);
            padding: 10px;
            @media screen and (min-width: 600px){
                width: calc(100% - 20px);
                padding: 10px;
                min-height: 100px;
                margin-left: 0px;
            }
        }
        .link{
            width: calc(100% - 20px);
            padding: 10px;
            border-top: 1px solid #e6e6e6;
            @media screen and (min-width: 600px){
            }
        }
        h4{
            text-align: left;
            font-weight: 500;
            width: 100%;
            color: $font!important;
            margin-bottom: 10px;
        }
        p{
            width: 100%;
            margin: 5px 0;
            color: $font;
            font-weight: lighter;
            font-size: 14px;
            @media screen and (min-width: 600px) {
                font-size: 16px;
            }
        }
    }
    &__inner{
        padding: 10px;
    }
}


.rows-1__links-5{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    li{
        position: relative;
        width: calc(100% - 0px);
        margin-bottom: 10px;
        border: 1px solid #e6e6e6;

        box-shadow: $bxs;
        cursor: pointer;
        // border-radius: 2px;
        transition: .25s ease-in-out;
        // border: 1px solid $lgray;
        display: flex;
        justify-content: flex-start;
        a{
            padding: 10px;
            width: calc(100% - 20px);
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
        i{
            font-size: 20px;
            transition: .25s ease-in-out;
        }
        &:hover{
            color: $font!important;
            // border: 1px solid #e6e6e6;
            box-shadow: $bxs;
            box-shadow: none;
            transform: translateY(2px);
            z-index: 1;
            a{
                // background: $a!important;
            }
        }
        .rows-1__links-5-text{
            margin-left: 20px;
            color: $font;
            font-weight: 500;
            text-align: center;
        }
        img{
            width: 50px;
            height: 50px;
        }
    }
    @media screen and (min-width: 600px){
        li{
            flex: 1;
            max-width: 200px;
            min-height: 155px;
            // margin-left: -1px;
            margin: 0 5px;
            // margin: 1px;
            justify-content: center;
            i{
                font-size: 32px;
            }
            a{
                justify-content: center;
                padding: 20px;
                // height: calc(100% - 40px);
                // width: calc(100% - 40px);
            }
            .rows-1__links-5-text{width: 100%; text-align: center; margin-left: 0;  margin-top: 20px;}
        }
    }
}

.quick-links__list{
    // background: transparent!important;
    a{
        margin: 0 5px;
        padding: 10px;
        background: #fff;
        border: 1px solid #e6e6e6;
        margin-right: -1px;
        box-shadow: $bxs;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        // max-width: 80px;
        flex: 1;
        margin-bottom: 10px;
        img{
            height: 40px; width: 40px;
            transition: .15s ease-in-out;
        }
        img:nth-child(2){
            display: none;
        }
        .quick-links__text{
            color: $font;
            text-align: center;
            font-weight: 500;
            font-size: 16px;
            margin-top: 10px;
            width: 100%;
        }
        &:hover{
            box-shadow: none;
            transform: translateY(2px);
            box-shadow: none;
            img:nth-child(1){
                display: none;
            }
            img:nth-child(2){
                display: inline;
            }
        }
        @media screen and (min-width: 600px){
            flex: 1;
            margin: 0 10px;
            margin-right: -1px;
            padding: 20px;
            margin-bottom: 0px;
            max-width: 160px;
            justify-content: center;
            img{
                height: auto;
                width: 80px;
            }
            .quick-links__text{
                margin-top: 20px;
                font-size: 20px;
                width: 100%;
                text-align: center;
                margin-left: 0px;
            }
        }
    }
}

.betting-guide__list{
    padding: 20px 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    a{
        display: flex;
        cursor: pointer;
        background: $lgray;
        background: $lblue;
        min-height: 80px;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
        overflow: hidden;
        -webkit-font-smoothing: subpixel-antialiased;
        box-shadow: 0 4px 20px 0 rgba(0,0,0,.5);
        .img{
            padding: 0 5px;
            display: flex;
            justify-content: center; align-items: center;
            background: #333333;
            flex: 1;
            img{
                width: 90%;
                height: auto;
            }
        }
        .content{
            align-items: center;
            flex: 3;
            padding: 10px;
            border-left: 1px solid #fff;
            p{margin: 0; color: #fff; text-align: center;}
        }
        &:hover{
            box-shadow: none;
            transform: translateY(2px);
        }
    }
    @media screen and (min-width: 600px){
        a:nth-child(odd){
            margin-right: 5px;
        }
        a:nth-child(even){
            margin-left: 5px;
        }
        a{
            width: calc(50% - 5px);
        }
    }
}

.op-data__list{
    width: 100%;
    li{
        box-shadow: $bxs;
        background: $slblue;
        margin-top: 0;
        margin-bottom: 0;
        padding:20px;
        margin-bottom: 10px;
        // width: 100%;
        width: calc(100% - 50px);
        div{
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            i{margin-right: 10px;}
        }
        div:nth-child(1){flex:none; width: 100%; font-weight: bold; text-transform: capitalize;}
        div:nth-child(2){flex:none; width: 100%; margin-top: 10px;}
        i{color: $off;}
        a,p{width: auto; text-align: center;}
    }
    @media screen and (min-width: 600px){
        box-shadow: $bxs;
        li{
            margin-bottom: 0px;
            box-shadow: none;
            flex: 1;
            border: 1px solid $e6;
            margin-right: -1px;
            a{font-weight: lighter;}
            div:nth-child(1){
                width: 100%;
                height: 20px;
                margin-bottom: 10px;
            }
            div:nth-child(2){
                height: calc(100% - 30px);
                width: 100%; margin: 0;
            }
        }
    }
}
.op-score__list{
    width: 100%;
    align-items: flex-start;
    li:nth-child(odd){
        background: $slblue;
    }
    li:last-child{
        .bar-container{
            height: 25px;
            .bar{background: $aHover;}
        }
    }
    li{
        padding: 5px 20px;
        box-shadow: $bxs;
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        h4{
            width: 100%;
            line-height: 1.5em;
            margin: 10px 0;
            font-weight: 500;
        }
        .left, .mid, .right{
            display: flex;
            align-items: center;
            text-transform: capitalize;
            font-weight: 500;
        }
        .left{
            flex: 2;
            text-align: left;
        }
        .mid{
            flex: 3;
            margin: 0 20px;
        }
        .right{
            flex: 1;
            text-align: right;
        }
        .bar-container{
            height: 15px;
            width: 100%;
            background: #e6e6e6;
        }
        .bar{
            height: 100%;
            background: $a;
        }
    }
}
