.op-list__inner__list, .op-list{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.op-list{
    justify-content: center;
    width: 100%;
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        p{width: 100%; font-size: 14px; text-align: center;}
        span{
            font-size: 22px;
        }
    }
    .list-item{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        position: relative;
        margin-bottom: 40px;
        width: 100%;
        border-radius: 5px;
        background: $slblue;
        border: 1px solid #e6e6e6;
        transition: .25s ease-in-out;
        &:hover{
            box-shadow: none;
            box-shadow: $bxs;
            transform: translateY(-2px);
        }
        hr{
            border: none;
            margin: 5px 0;
            height: 1px;
            width: 100%;
            background: $a;
            background: #e6e6e6;
        }
        .list-item__inner{
            position: relative;
            padding: 10px;
            min-height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            .visit-b{
                background: transparent!important;
                display: block;
                padding: 0!important;
                margin-top: 20px;
                color: $font;
                font-size: 12px;
                text-align: center;
                &:hover{text-decoration: underline;}
            }
            .extend{
                z-index: 2;
                display: flex;
                justify-content: center;align-items: center;
                border-radius: 100px;
                background: $a!important;
                position: absolute;
                right: 5px;
                letter-spacing: normal!important;
                top: calc(100% - 20px);
                transform: translateY(-50%);
                width: 30px;
                height: 30px;
                i{color: #fff;}
                @media screen and (min-width: 600px){
                    right: -15px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            @media screen and (min-width: 600px){
                width: calc(60% - 21px);
            }
        }
        .list-item__inner:nth-child(1){
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
            background: $lgray;
            border-right: 0;
            h3{
                font-weight: 500;
            }
            @media screen and (min-width: 900px){
                min-width: 380px;
            }
            @media screen and (min-width: 600px){
                min-width: none;
                border-top-right-radius: 0px;
                border-right: 1px solid #e6e6e6;
            }
        }
        .list-item__inner:nth-child(2){
            width: calc(100% - 20px);
            flex-wrap: wrap;
            border-top: 1px solid #e6e6e6;
            span{
                width: 100%;
                text-align: center;
                font-weight: 500;
                font-size: 14px;
                text-transform: uppercase;
                font-family: 'Roboto', sans-serif!important;
            }
            h3{
                font-weight: 500;
                width: 100%;
                text-align: center;
                margin: 20px 0;
            }
            a{
                padding: 10px 50px;
                background: $a;
                &:hover{
                    background: $aHover;
                }
            }
            button{
                color: #fff;
                text-transform: uppercase;
                font-weight: bold;
                background: transparent;
                letter-spacing: 2px;
            }
            @media screen and (min-width: 600px){
                width: calc(40% - 20px);
                border-top: 0;
            }
        }
        .inner-wrap{
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        .inner-wrap:nth-child(1){
            width: 100px;
            min-height: 80px;
            height: calc(100% - 20px);
            border-radius: 3px;
            a{
                width: 100%;
                height: 100%;
                p{color: #fff; text-transform: capitalize;}
            }
            img{
                height: auto;
                width: 80%;
            }
            @media screen and (min-width: 600px){
                width: 180px;
            }
        }
        .inner-wrap:nth-child(2){
            justify-content: flex-start;
            align-items: flex-start;
            width: calc(100%);
            min-height: 80px;
            margin-left: 0px;
            .inner-wrap__wrapper{
                display: flex;
                align-items: center;
                width: 100%;
                h3{
                    width: 100%;
                    font-weight: 400;
                }
                p{
                    width: 100%;
                    text-align: left;
                    margin: 5px 0;
                    text-transform: capitalize;
                }
                i{
                    color: #359A3C;
                    font-size: 12px;
                    margin-right: 10px;
                }
            }
            @media screen and (min-width: 600px){
                width: calc(100% - 100px);
                margin-left: 10px;
            }
        }
        .inner-wrap__inner{
            width: 100%;
            margin-top: 10px;
            i{
                color: $a;
                font-size: 18px;
                margin-right: 10px;
                @media screen and (min-width: 600px){
                    font-size: 26px;
                }
            }
        }
        .list-item__bottom{
            width: 100%;
            border-top: 1px solid #e6e6e6;
            display: flex;
            &-inner{
                flex: 1;
                padding: 20px;
                display: flex;
                flex-wrap: wrap;
                font-family: 'Roboto', sans-serif!important;

                .head{
                    margin-bottom: 20px;
                    text-align: left;
                    text-transform: capitalize;
                }
                ul{
                    width: 100%;
                    justify-content: flex-start;
                }
                li{
                    font-family: 'Roboto', sans-serif!important;
                    margin: 1px;
                    background: #fff;
                    border: 1px solid #e6e6e6;
                    width: 55px; height: 30px;
                    padding: 2.5px 5px;
                    img{
                        object-fit: contain;
                    }
                }
            }
        }
        &__extended{
            z-index: 1;
            border-top: 1px solid #e6e6e6;
            padding: 20px;
            background: $lgray;
            overflow: hidden;
            width: calc(100% - 40px);
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            h4{
                margin-bottom: 10px;
                font-weight: 500;
                text-transform: capitalize;
            }
            hr{
                border: none;
                margin: 10px 0;
                height: 2px;
                width: 250px;
                background: $a;
            }
            .flex{
                p{margin-right: 5px;}
                i{
                    margin-left: 2.5px;
                    font-size: 12px;
                    @media screen and (min-width: 600px){
                        margin-left: 5px;
                        font-size: 16px;
                    }
                }
            }
            a{
                margin: 20px 0 10px 0;
                border-radius: 25px;
                color: #fff;
                font-weight: bold;
                width: 200px;
                padding: 10px 30px;
                background: $a;
                &:hover{
                    background: $aHover;
                }
            }
        }
    }

}

.betting-banner{
    position: absolute;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 16%;
    top: -12px;

    height: 23px;
    padding: 2.5px 10px;
    width: auto;
    background: $a;
    z-index: 2;
    border-radius: 0px 10px 2px 2px;
    font-family: 'Roboto', sans-serif!important;
    &:before{
        position: absolute;
        content: "";
        background: #0d69d9;
        width: 10px;
        height: 11px;
        left: -11px;
        top: 0px;
        border-top-left-radius: 14px;
        border: 1px solid #509bf5;
        border-top-right-radius: 26px;
        border-width: 1px 10px 0px 1px;
    }
    @media screen and (min-width: 600px){
        left: 43%;
        padding: 5px 10px 5px 15px;
        height: 20px;
    }
}
