.container-sticky{
    display: flex;
    position: sticky;
    flex-wrap: wrap;
    top: 53px;
    width: 100%;
    background: $lgray;
    z-index: 3;
    border-bottom: 1px solid #e6e6e6;
    li,a{        
        font-family: 'Roboto', sans-serif!important;
    }
    .stickyActive{
         color: $a!important;
         font-weight: bold;
         height: 100%;
    }
    .scrollactive-nav{
        height: 100%;
        a{
            color:#666;
            height: 100%;
        }
    }
    ul{
        width: 100%;
        background: #f7f7f7;
        li{
            cursor: pointer;
            display: flex;
            justify-content: center;align-items: center;
            height: 30px;
            width: 100%;
            transition: .2s ease-in-out;
            a{
                font-size: 12px;
                height: 100%;
                padding: 0px 30px;
                color: #666;
                font-weight: bold!important;
                text-transform: uppercase;
            }
            &:hover{
                background: #e6e6e6;
            }
        }
        @media screen and (min-width: 1000px){
            li{
                width: auto;
                height: 50px;
            }
        }
    }
    .i{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 40px;
        border-bottom: 1px solid #e6e6e6;
        i{
            font-size: 20px;
        }
    }
    @media screen and (min-width: 1000px){
        .i{
            display: none;
        }
    }
}
