@import url("https://use.typekit.net/dph6plz.css");
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');
@import url("https://use.typekit.net/gsv7ldd.css");

@font-face {
   font-family: 'Helvetica';
   src: url("../ttf/Helvetica.ttf") format("truetype");
}
$helvetica: 'Helvetica', sans-serif;


// Font family
h1{
    font-family: nudista-web, sans-serif!important;
}
h1,h2,h3,h4,h5,h6,.h3,.h4{
    // font-family: $helvetica;
    font-family: 'Roboto', sans-serif;
    color: #333333;
    font-weight: lighter;
    margin: 0;
}
.p,p,a,li,table{
    font-family: 'Roboto', sans-serif!important;
    font-family: $helvetica!important;
    font-weight: lighter;
}
li{
    strong{
        margin: 0 3px;
    }
}

// Font size
h1{font-size: 42px;}
h2{font-size: 22px;}
h3,.h3{font-size: 20px;}
h4,.h4{font-size: 16px;}
.p,p,a{font-size: 16px;}
@media screen and (min-width: 600px) {
    h1{font-size: 62px;}
    h2{font-size: 28px;}
    h3,.h3{font-size: 24px;}
    h4,.h4{font-size: 20px;}
    h5{font-size: 16px;}
    .p,p,a{font-size: 16px;}
}

// Font styling
.bold{font-weight: bold!important;}
.light{font-weight: lighter!important;}
.tc{text-align: center!important;}
.italic{font-style: italic!important; }
