.flex, .col, .container, .container__inner, .content, .text-box{
    display: flex!important;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

// // Wraps every section
.container{
    max-width: 100%;
    width: 100%;
    padding: 40px 0px;
    @media screen and (min-width: 600px) {
        padding: 80px 0px;
    }
    @media screen and (min-width: 1200px) {

    }
}
.container__block{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container__inner-head{
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
    padding-bottom: 5px;
    img{
        width: 25px;
    }
    h2{
        position: relative;
        width: 100%;
        font-weight: 500;
        margin-bottom: 40px;
        &:after{
            position: absolute;
            content: "";
            width: 100px;
            height: 3px;
            background: $a;
            left: 0;
            bottom: -20px;
        }
    }
}
.container__inner-content{
    width: calc(100%);
    p{
        width: 100%;
        line-height: 1.5em;
        margin: 10px 0;
    }
    iframe{
        width: 900px;
        height: 500px;
        max-width: 100%;
        margin: 40px 0;
    }
}
.w-l{
    width: 100%;
    max-width: calc(100% - 20px);
    @media screen and (min-width: 600px){
        width: 1000px;
        max-width: calc(100% - 40px);
    }
}
.w-m{
    width: 100%;
    max-width: calc(100% - 20px);
    @media screen and (min-width: 600px){
        width: 900px;
        max-width: calc(100% - 40px);
    }
}
.container.hql{
    padding: 40px 0;
    position: relative;
    background: rgb(243,248,254)!important; /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(243,248,254,1) 0%, rgba(243,248,254,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%)!important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(243,248,254,1) 0%,rgba(243,248,254,1) 50%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%)!important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(243,248,254,1) 0%,rgba(243,248,254,1) 50%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f8fe', endColorstr='#ffffff',GradientType=0 )!important; /* IE6-9 */
    overflow: visible;
    z-index: 2;
    @media screen and (min-width: 600px){
    }
}
