//Flags page
.fl{
    position: relative;
    width: 100%;
    padding: 0!important;
    background: url('../../images/lang-selector.png') no-repeat center;
    background-size: cover;

    height: 100vh;
    &:after{
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: .5;
        background: $lblue;
        z-index: 1;
    }
    .flags{
        border-radius: 2px;
        overflow: hidden;
        width: 400px;
        position: relative;
        margin-top: -200px;        
        z-index: 2;
        background: #fff;
        max-width: calc(100% - 40px);
        box-shadow: 0 4px 20px 0 rgba(0,0,0,.6);
        @media screen and (min-width: 600px){
            margin-top: -150px;
        }
        img{
            width: 40px;
            margin-right: 20px;
            filter: drop-shadow(0px 1px 2px #a6a6a6);
            @media screen and (min-width: 600px){
                width: 60px;
                margin-right: 40px;
            }
        }
        a{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            width: calc(100% - 40px);
            padding: 10px 20px;
            border-bottom: 1px solid $e6;
            &:hover{
                background: $lblue;
                color: #fff;
                padding: 10px 10px 10px 30px;
            }
        }
        a:last-child{
            border: none;
        }
        .head{
            background: $a;
            padding: 20px;
            border-bottom: 2px solid $e6;
            text-align: center;
            .h3{
                font-weight: 500;
                color: #fff;
            }
        }
        .h4{
            color: $font;
            font-weight: lighter;
            width: calc(100% - 100px);
        }
        .foot{
            border-top: 1px solid $e6;
            background: $lgray;
            h1{
                padding: 10px;
                font-size: 24px;
                text-align: center;
            }
            span{
                font-weight: bold;
                color: $a;
            }
            @media screen and (min-width: 600px){
                h1{
                    padding: 20px;
                    font-size: 32px;
                    text-align: center;
                }
            }
        }
    }
}
