.op{
    .container__inner-head{
        h2{text-transform: capitalize;}
    }
    span:first-child{
        h3{margin-top: 10px!important;}
    }
    .container:nth-child(even){
        background: $slblue;
        background: $slgray;
        .op-data__list{
            li{
                background: #fff;
            }
        }
    }
    .banner{
        padding: 105px 0 50px 0;
        // background: url('../images/noisedark.jpg') no-repeat center!important;
        background: url('../images/bubblesdark.png')!important;
        background-size: cover!important;
        @media screen and (min-width: 900px){
            padding: 135px 0 80px 0;
            background: url('../images/bubblesdark.png') no-repeat center!important;
        }
        &:after{
            display: none;
        }
        &__inner{
            display: flex;
            flex-wrap: wrap;
            img{
                height: 80px;
                @media screen and (min-width: 900px){
                    height: 120px;
                }
            }
        }
    }
    #bonus{
        .container__inner{
            width: calc(100% - 20px);
            align-items: flex-start;
            @media screen and (min-width: 900px){
                width: 80%;
            }
        }
        .container__inner-wrap:nth-child(1){
            h2,i{color: $a;}
        }
        .container__inner-wrap:nth-child(2){
            margin-top: 20px;
            h2,i{color: $purple;}
            .cta-link{
                background: $purple!important;
                border-color: $purple;
                &:hover{
                    background: $purpleHover!important;
                    border-color: $purpleHover;
                }
            }
            @media screen and (min-width: 1100px){
                margin-top: 0px;
                margin-left: 20px;
            }
        }
        .container__inner-wrap{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: calc(100% - 40px);
            border-radius: 3px;
            box-shadow: $bxs;
            border: 1px solid #e6e6e6;
            padding: 20px;
            background: #fff;
            li{
                display: flex;
                align-items: center;
                width: 100%;
                margin: 10px 0;
                i{
                    display: flex;
                    align-items: center; justify-content: center;
                    margin-right: 10px;
                    font-size: 14px;
                    width: 20px; height: 20px;
                }
                p{
                    width: calc(100% - 30px);
                }
            }
            h2{
                font-weight: bold;
                text-transform: uppercase;
                margin: 20px 0!important;
            }
            h4{
                font-weight: bold;
                margin: 40px 0 20px 0!important;
            }
            h2,h3,h4,h5{
                width: 100%;
                text-align: center;
                margin: 5px 0;
            }
            @media screen and (min-width: 1100px){
                flex: 1;
                max-width: 920px;
                padding: 40px;
            }
        }
        .col{
            margin-top: 40px;
            width: 100%;
            h5{
                margin: 10px 0!important; font-weight: bold;
            }
            table{
                tr{
                    margin: 5px 0;
                    border: none;
                }
                width: 100%;
                td{width: calc(50%); background: $lgray; border: none; padding: 10px 20px;}
                .m{text-transform: capitalize; font-weight: bold;}
            }
        }
        .btn-container{
            display: flex;
            justify-content: center;
            margin-top: 40px;
            width: 100%;
            .cta-link{
                width: 300px;
                text-align: center;
                padding: 15px 0px;
            }
        }

    }
    #score{
        .container__inner{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .container__inner-content{
            align-items: flex-start;
        }
        @media screen and (min-width: 600px){

        }
    }

    #payment{
        position: relative;
        .table__container{
            position: relative;
            min-height: 200px;
            overflow-y: hidden;
            @media screen and (min-width: 900px){
                overflow-y: visible;
                min-height: 350px;
            }
        }
        .tabActive{
            position: relative!important;
            margin-top: 25px;
            left: 0!important;
            animation: active .8s;
            animation-fill-mode: forwards;
            z-index: 2!important;
            // background: #fff;
            opacity: 1;
        }
        .inactive{
            animation: inactive .8s;
            animation-fill-mode: forwards;
            top: -20px;
            z-index: 0;
            opacity: 0;
        }
        @media screen and (min-width: 900px){
            .tabActive{
                opacity: 1;
            }
            .inactive{
                opacity: .4;
            }
            @keyframes active {
                0%{
                    transform: scale(0.8);
                }
                50%{
                    transform: translateY(50px);

                }
                100%{
                    transform: translateY(0px);
                    transform: scale(1);
                }
            }
            @keyframes inactive {
                0%{
                    transform: scale(1);

                }
                50%{
                    transform: translateY(50px);
                    transform: scale(0.8);
                }
                100%{
                    transform: translateY(0);
                    transform: scale(.9);
                }
            }
        }


        .table-vue{
            box-shadow: $bxs;
            width: 100%;
            // height: 400px;
            position: absolute;
            z-index: 1;
        }
    }
    #service{
        .container__inner:nth-child(2){
            margin-top: 80px;
        }
        .container__inner{
            display: block!important;
            @media screen and (min-width: 900px){
                margin: 0 100px;
            }
        }
    }
    .func{
        display: flex;
        justify-content: flex-start;
        h2{
            cursor: pointer;
            width: auto;
        }
        h2:nth-child(2){
            margin-left: 10px;
            &:after{display: none;}
        }
    }
    .disabled{
        opacity: .4;
    }
}
